<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python — Функции</title>
    <link rel="stylesheet" href="{{url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
</head>

<body>

    <!-- BACKGROUND -->
    <video autoplay loop muted src="{{url_for('static', filename='video/background.mp4')}}"></video>

    <!-- ALL CONTENT -->
    {% block content %}
    {% endblock %}

    <!-- PRELOADER -->
    {% block preloader %}
    {% include 'main/preloader.html' %}
    {% endblock %}

    {% block ex_3_answer %}
    {% endblock %}

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.js')}}"></script>
    <script src="https://kit.fontawesome.com/fb866d52e1.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>