{% block fifteen_puzzle %}
<!-- CONTAINER -->
<div class="container-fluid">

    <!-- ROWS -->
    <div id="fifteen_puzzle" class="row d-flex align-items-center vh-100" data-bs-spy="scroll"
        data-bs-target="#fifteen_puzzle">

        <!-- EXERCISE -->
        <div class="offset-3 col-6 exercise">

            <!-- TITLE & DESCRIPTION -->
            <h3 class="text-center">Задание 4. Пятнашки</h3>

            <div class="d-flex justify-content-center mt-4">
                <canvas width="600" height="600"></canvas>
            </div>

        </div>

    </div>
    
</div>
{% endblock %}