{% extends 'main/base.html' %}

<!-- ALL CONTENT -->
{% block content %}

<!-- PRELOADER -->
{% block preloader %}
{% include 'main/preloader.html' %}
{% endblock %}

<!-- HEADER -->
{% block header %}
{% include 'main/header.html' %}
{% endblock %}

<!-- CARDS -->
{% block welcome %}
{% include 'main/welcome.html' %}
{% endblock %}

<!-- GREATEST COMMON DIVISOR -->
{% block gcd %}
{% include 'main/greatest_common_divisor.html' %}
{% endblock %}

<!-- GREATEST BULLS & COWS -->
{% block bulls_and_cows %}
{% include 'main/bulls_and_cows.html' %}
{% endblock %}

<!-- KNIGHT'S MOVE -->
{% block knights_move %}
{% include 'main/knights_move.html' %}
{% endblock %}

<!-- FIFTEEN PUZZLE -->
{% block fifteen_puzzle %}
{% include 'main/fifteen_puzzle.html' %}
{% endblock %}

{% endblock %}