{% block knights_move %}
<!-- CONTAINER -->
<div class="container-fluid">

    <!-- ROWS -->
    <div id="knights_move" class="row d-flex align-items-center vh-100" data-bs-spy="scroll"
        data-bs-target="#knights_move">

        <!-- EXERCISE -->
        <div class="offset-2 col-5 exercise">

            <!-- TITLE & DESCRIPTION -->
            <p class="mb-3">
                Задание 3. <br>
                Дана шахматная доска размером 8×8 и шахматный конь.
                Программа должна запросить у пользователя координаты
                клетки поля и поставить туда коня. Задача программы
                найти и вывести путь коня, при котором он обойдет все
                клетки доски, становясь в каждую клетку только один
                раз. (Так как процесс отыскания пути для разных начальных клеток может затянуться, то рекомендуется
                сначала попробовать задачу на поле размером 6×6). В программе
                необходимо использовать рекурсию. <br><br>
                Введите номер клетки путем ввода двух координат через пробел. <br>
                p.s. Шахматная доска в данном случае 6х6, так что координаты вводятся от 0 до 5 - [0-5]_[0_5]:
            </p>

            <!-- FORM -->
            <form action="/ex_3" method="post">
                <div class="d-flex justify-content-between align-items-center">
                    <input class="form-control" name="knights_move" type="text" placeholder="Введите номер">
                    <button class="submit" type="submit">Вывести</button>
                </div>
            </form>

        </div>

        <!-- NAME OF APP -->
        <div class="col-3">
            <h3 class="text-center">ХОД КОНЕМ</h3>
        </div>

    </div>

</div>
{% endblock %}