{% block welcome %}
<!-- CONTAINER -->
<div class="container">

    <!-- ROWS -->
    <div class="row d-flex vh-100 align-items-center">

        <!-- DIV WELCOME -->
        <div class="welcome">

            <!-- TEXT WELCOME -->
            <h1 class="text-center text_welcome">
                <span class="span_welcome"><i class="fa-solid fa-hand-sparkles"></i>Приветствуем Вас!</span>
            </h1> 

            <!-- SEPARATE LINE -->
            <hr>

            <!-- POST SCRIPTUM -->
            <p class="text-center post_scriptum">
                <span class="span_post_scriptum">
                    Нажимая на ссылки в шапке сайта, Вы сможете быстро перемещаться между заданиями! <br>
                    Чтобы быстро вернуться в самое начало, нажмите на лого.
                </span>
            </p>
        </div>

    </div>

</div>
{% endblock %}